<section class="pokemon-tournament">
  <div class="pokemon-tournament__container container">
    <header class="pokemon-tournament__header">
      <h2 class="pokemon-tournament__title text-center mb-4">
        Pokémon League
      </h2>
      <p class="pokemon-tournament__description text-center mb-4">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </header>

    <div class="pokemon-tournament__content">
      <div class="pokemon-tournament__container container mt-4">
        <app-pokemon-list class="pokemon-tournament__list"></app-pokemon-list>
      </div>
    </div>
  </div>
</section>
